{% extends "base.html" %}

{% block app_content %}
    <h1>About Us</h1>
    <br>
    <p>About Us. Passionate Open Data Geeks.</p>
	<p>We are a small team, and our passion is to “Transform Public Data Into Actionable Knowledge.” Founded in 2007, NIHPO, Inc. is a minority-owned software development and data analytics small business based in Miami, Florida (USA). We focus on acquiring, organizing, cleaning up, and transforming raw Open Data from state, federal, and international agencies in the healthcare field into Actionable Knowledge. We save your team significant wasted time and effort by avoiding the data cleaning and management steps.</p>
	<p>Our previous work includes a semantic search engine for health data; integrating data from <a href="http://clinicaltrials.gov/">ClinicalTrials.gov</a>, PubMed, NIH grants, FDA AERS and MAUDE; and other federal and state datasets; and using the LexEVS taxonomy at the core.</p>
	<p>NIHPO’s Synthetic Health Data Platform helps life sciences companies to reduce the time it takes to design, develop, test, validate, and obtain regulatory approval for new drugs and medical devices.</p>
	<p>Our work is guided by a close collaboration with executives at pharma companies:</p>
	<p><a href="https://www.pharmiweb.com/press-release/2020-07-06/phuse-deploys-nihpo-platform-of-enriched-open-data-in-microsoft-azure-to-accelerate-covid-19-clinical-research" target="_blank">https://www.pharmiweb.com/press-release/2020-07-06/phuse-deploys-nihpo-platform-of-enriched-open-data-in-microsoft-azure-to-accelerate-covid-19-clinical-research</a></p>
	<p>This paper describes our platform:</p>
	<p><a href="http://nihpo.com/AD-162.mp4" target="_blank">http://nihpo.com/AD-162.mp4</a></p>
	<p><a href="http://nihpo.com/AD-162_PharmaSUG2021_12.pdf" target="_blank">http://nihpo.com/AD-162_PharmaSUG2021_12.pdf</a></p>
	<br>
	<br>
{% endblock %}