{% extends "base.html" %}

{% block app_content %}
    <h1>Contact Us</h1>
    <br>
    <p>NIHPO, Inc.</p>
	<p>15625 NW 15th Avenue</p>
	<p>Miami, FL 33169</p>
	<p><a href="http://nihpo.com" target="_blank">http://nihpo.com</a></p>
	<br>
	<p>José C. Lacal, CTO<br>
	<a href="mailto:Jose.Lacal@NIHPO.com?subject=Docker_Community&body=Message" target="_blank">Email us.</a></p>
	<p>+1 (561) 777-2577</p>
	<br>
	<p>NIHPO is a Minority-owned (Hispanic) Florida Certified Business Enterprise (CBE).</p>
	<p>DUNS: 032050273</p>
	<br>
	<br>
{% endblock %}