{% extends "base.html" %}

{% block app_content %}
	{% if current_user.is_anonymous %}
		<h1>Welcome to NIHPO's Synthetic Health Data Platform.</h1>
		{% else %}
        <h1>{{ _('Hi, %(name)s!', name=session['first_name']) }}</h1>

	{% endif %}
	<br>
    <p>NIHPO's Synthetic Health Data Platform generates highly realistic, scientifically-correct and very  customized synthetic health data for use in clinical trials.</p>
    <p>The synthetic health data includes:</p>
    <ul>
        <li>synthetic patients with synthetic Personal Health Records (PHR)</li>
        <li>synthetic clinical trial result data, in customer-specific formats, including CDISC SDTM</li>
    </ul>
    <p>
        NIHPO-generated synthetic health data helps life sciences companies to reduce the time it takes to design, develop, test, validate, and obtain regulatory approval for new drugs and medical devices.
    <p>
        This work is guided by a close collaboration with executives at pharma companies:<br>
        <a href="https://www.pharmiweb.com/press-release/2020-07-06/phuse-deploys-nihpo-platform-of-enriched-open-data-in-microsoft-azure-to-accelerate-covid-19-clinical-research" target="_blank">https://www.pharmiweb.com/press-release/2020-07-06/phuse-deploys-nihpo-platform-of-enriched-open-data-in-microsoft-azure-to-accelerate-covid-19-clinical-research</a>
    </p>
    <p>
        This paper describes the NIHPO Synthetic Health Data Platform in detail:<br>
        <a href="http://nihpo.com/AD-162.mp4" target="blank">http://nihpo.com/AD-162.mp4</a><br>
        <a href="http://nihpo.com/AD-162_PharmaSUG2021_12.pdf" target="blank">http://nihpo.com/AD-162_PharmaSUG2021_12.pdf</a>
    </p>
    <p>The platform currently offers 02 functional blocks:</p>
    <h2><a href={{url_for('main.synthphr')}}>Synth PHR</a></h2>
    <p>In this page you can generate a full Synthetic Personal Health Record ("SynthPHR") for individuals based on your exact needs.</p>
    <p>You can define:</p>
    <ul>
    	<li>Country of the world where synthetic persons are located in.</li>
		<li>Gender distribution: percentages of Female and Male individuals.</li>
		<li>Age range: between 1 and 100 years of age.</li>
		<li>Real World Data: add drugs from either the FDA or the EMA; and medical devices from the FDA.</li>
		<li>Output format: select either JSON or SQLite3.</li>
	</ul>
    <p>Once your SynthPHR file is ready you can then proceed to the next step, creating a Synthetic Clinical Trial ("SynthTrial").</p>
    <h2><a href={{url_for('main.synthtrial')}}>Synth Trial</a></h2>
    <p>In this page you can generate the output of a synthetic clinical trial.</p>
    <p>You can define:</p>
    <ul>
    	<li>Trial summary parameters: all the parameters that create the trial design structure.</li>
		<li>Variables not controlled by standards: list of possible values for each variable.</li>
		<li>Arms, Elements and Visits: build the number of arms, elements and visits needed in the specific trial.</li>
		<li>Output format: select either SQLite3, csv or SAS XPORT.</li>
	</ul>
    <p>The output files use the <a href="https://www.cdisc.org/standards/foundational/sdtm" target="_blank">CDISC SDTM format</a>.</p>
    <h2>Source Code</h2>
    <p>The source code for this platform is available in GitHub under an Open Source license.<br>
    <a href="https://github.com/nihpo/SynthHealthData" target="_blank">https://github.com/nihpo/SynthHealthData</a></p>
{% endblock %}

