{% extends 'base.html' %}

{% block app_content %}
    <h1 class="title">Create New Synthetic Trial</h1>
    <br>
    <h2>Upload file with Sponsor-specific Controlled Terminology</h2>
    <p>Here users can define their own codelists for non standard variables or extensible CDISC SDTM codelists by a JSON file (download a sample at the bottom). However, we implement one by default if you prefer to continue witout file.</p>
    {{ dropzone.load_css()}}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 5%; min-height: 10px;') }}
    {{ dropzone.create(action="synth_trial.controlled_terminology") }}
    {{ dropzone.load_js() }}
    {{ dropzone.config(max_files=1, max_file_size=1, allowed_file_custom=True, allowed_file_type='.json', default_message='Drop files here or click to upload (only JSON files accepted)') }}
    {{ form.csrf_token }}
    <div class="form-wrapper">
        <form action="{{ url_for('synth_trial.controlled_terminology') }}" enctype="multipart/form-data" method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-4 col-lg-4 col-xl-4 form-group"></div>
                <ul style="list-style-type:none;" class="form-group">
                    <li style="float:left; margin:0px 10px;"><button class="btn btn-primary" name="submit_button" id="continue" value="Continue">Continue</button></li>
                    <li style="float:left; margin:0px 10px;"><button class="btn btn-primary" name="submit_button" id="continue_no_file" value="Use default Sponsor-specific CT">Use default Sponsor-specific CT</button></li>
                    <li style="float:left; margin:0px 10px;"><button class="btn btn-primary" name="submit_button" id="continue_no_sponsor_ct" value="Use CDISC SDTM CT only">Use CDISC SDTM CT only</button></li>
                 </ul> 
            </div>
            <br>
            {{ form.download }}
        </form>
     </div>
{% endblock %}