{% extends 'base.html' %}

{% block app_content %}
    <div class="form-wrapper">
        <h1 class="title">Synthetic Trial</h1>
        <br>
        <form method="POST" action="{{ url_for('main.synthtrial') }}">
            {{ form.hidden_tag() }}
            <h3>Create New Synthetic Trial</h3>
            <fieldset class="form-field">
            <pre>{{ form.create.label }}  {{ form.create }}</pre>
                {% if form.create.errors %}
                <ul class="errors">
                    {% for error in form.create.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <h3>Download Synthetic Trial Files</h3>
            <fieldset class="form-field">
            <pre>{{ form.trial_files.label }}  {{ form.trial_files }}

{{ form.download }} {{ form.dashboards }}</pre>
                {% if form.trial_files.errors %}
                <ul class="errors">
                    {% for error in form.trial_files.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if form.download.errors %}
                <ul class="errors">
                    {% for error in form.download.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if form.dashboards.errors %}
                <ul class="errors">
                    {% for error in form.dashboards.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            
            {% if current_user.username + '_tasks_trial_id' in session %}
                <button class="button" onclick=' window.open("{{ url_for('synth_trial.check_tasks') }}","_blank")'> Check Files Creation Status</button>
            {% endif %}
      </form>
    </div>
{% endblock %}