{% extends 'base.html' %}

{% block app_content %}
    <div class="form-wrapper">
        <h1 class="title">Create New Synthetic Trial</h1>
        <br>
        <h2>Trial Summary Parameters</h2>
        <p>Notice: Please make sure you first create a  <a href= {{ url_for('main.synthphr') }}>SynthPHR</a> before you create a synthetic trial.</p>
        <br>
        <form method="POST" action="{{ url_for('synth_trial.trial_summary_parameters') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-field">
            <pre>{{ form.phr_files.label }}  {{ form.phr_files }}</pre>
                {% if form.phr_files.errors %}
                <ul class="errors">
                    {% for error in form.phr_files.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field">
            <pre>{{ form.sponsor.label }}  {{ form.sponsor }}</pre>
                {% if form.sponsor.errors %}
                <ul class="errors">
                    {% for error in form.sponsor.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field">
            {{ form.study_id.label }} {{ form.study_id }}
            {% if form.study_id.errors %}
                <ul class="errors">
                    {% for error in form.study_id.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.trial_name.label }} {{ form.trial_name }}
            {% if form.trial_name.errors %}
                <ul class="errors">
                    {% for error in form.trial_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.start_date.label }} {{ form.start_date }} {{ form.end_date.label }} {{ form.end_date }}
            {% if form.start_date.errors %}
                <ul class="errors">
                    {% for error in form.start_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            {% if form.end_date.errors %}
                <ul class="errors">
                    {% for error in form.end_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
                {{ form.number_sites_per_country.label }} {{ form.number_sites_per_country }}
                {% if form.number_sites_per_country.errors %}
                    <ul class="errors">
                        {% for error in form.number_sites_per_country.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </ul>
                {% endif %}
                </fieldset>
                <br>
            <h3>Planned Parameters</h3>
            <fieldset class="form-field">
            <pre>{{ form.planned_num_subjects.label }} {{ form.planned_num_subjects }} {{ form.planned_num_subjects.description }}
{{ form.planned_number_arms.label }} {{ form.planned_number_arms }} {{ form.planned_number_arms.description }}
</pre>
            {% if form.planned_num_subjects.errors %}
                <ul class="errors">
                    {% for error in form.planned_num_subjects.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.planned_number_arms.errors %}
                <ul class="errors">
                    {% for error in form.planned_number_arms.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.num_groups.label }} {{ form.num_groups }} {{ form.num_groups.description }}
            {% if form.num_groups.errors %}
                <ul class="errors">
                    {% for error in form.num_groups.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.trial_length.label }} {{ form.trial_length }} {{ form.trial_length.description }}
            {% if form.trial_length.errors %}
                <ul class="errors">
                    {% for error in form.trial_length.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.trial_primary_obj.label }} {{ form.trial_primary_obj }} {{ form.trial_primary_obj.description }}
            {% if form.trial_primary_obj.errors %}
                <ul class="errors">
                    {% for error in form.trial_primary_obj.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.trial_secondary_obj.label }} {{ form.trial_secondary_obj }} {{ form.trial_secondary_obj.description }}
            {% if form.trial_secondary_obj.errors %}
                <ul class="errors">
                    {% for error in form.trial_secondary_obj.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <br>
            <fieldset class="form-field">
            {{ form.trial_type.label }} {{ form.trial_type }} {{ form.trial_type.description }}
            {% if form.trial_type.errors %}
                <ul class="errors">
                    {% for error in form.trial_type.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.study_type.label }} {{ form.study_type }} {{ form.study_type.description }}
            {% if form.study_type.errors %}
                <ul class="errors">
                    {% for error in form.study_type.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.ther_area.label }} {{ form.ther_area }} {{ form.ther_area.description }}
            {% if form.ther_area.errors %}
                <ul class="errors">
                    {% for error in form.ther_area.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.stop_rules.label }} {{ form.stop_rules }} {{ form.stop_rules.description }}
            {% if form.stop_rules.errors %}
                <ul class="errors">
                    {% for error in form.stop_rules.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.trial_blinding_schema.label }} {{ form.trial_blinding_schema }} {{ form.trial_blinding_schema.description }}
            {% if form.trial_blinding_schema.errors %}
                <ul class="errors">
                    {% for error in form.trial_blinding_schema.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.control_type.label }} {{ form.control_type }} {{ form.control_type.description }}
            {% if form.control_type.errors %}
                <ul class="errors">
                    {% for error in form.control_type.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.trial_phase_classification.label }} {{ form.trial_phase_classification }} {{ form.trial_phase_classification.description }}
            {% if form.trial_phase_classification.errors %}
                <ul class="errors">
                    {% for error in form.trial_phase_classification.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.primary_outcome_measure.label }} {{ form.primary_outcome_measure }} {{ form.primary_outcome_measure.description }}
            {% if form.primary_outcome_measure.errors %}
                <ul class="errors">
                    {% for error in form.primary_outcome_measure.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.adaptative_design.label }} {{ form.adaptative_design }} {{ form.adaptative_design.description }}
            {% if form.adaptative_design.errors %}
                <ul class="errors">
                    {% for error in form.adaptative_design.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.data_cutoff_date.label }} {{ form.data_cutoff_date }} {{ form.data_cutoff_date.description }}
            {% if form.data_cutoff_date.errors %}
                <ul class="errors">
                    {% for error in form.data_cutoff_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.data_cutoff_desc.label }} {{ form.data_cutoff_desc }} {{ form.data_cutoff_desc.description }}
            {% if form.data_cutoff_desc.errors %}
                <ul class="errors">
                    {% for error in form.data_cutoff_desc.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <fieldset class="form-field">
            {{ form.registry_id.label }} {{ form.registry_id  }} {{ form.registry_id.description }}
            {% if form.registry_id.errors %}
                <ul class="errors">
                    {% for error in form.registry_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <h3>Indicators</h3>
            <fieldset class="form-field">
            <pre>{{ form.test_product_added.label }} {{ form.test_product_added }} {{ form.test_product_added.description }}
{{ form.randomized.label }} {{ form.randomized }} {{ form.randomized.description }}
{{ form.ex_trial_id.label }} {{ form.ex_trial_id }} {{ form.ex_trial_id.description }}
{{ form.ped_study_id.label }} {{ form.ped_study_id }} {{ form.ped_study_id.description }}
{{ form.ped_inv_plan_id.label }} {{ form.ped_inv_plan_id }} {{ form.ped_inv_plan_id.description }}
{{ form.ped_postmark_study_id.label }} {{ form.ped_postmark_study_id }} {{ form.ped_postmark_study_id.description }}
{{ form.rare_disease_id.label }} {{ form.rare_disease_id }} {{ form.rare_disease_id.description}}
{{ form.healthy_subj_id.label }} {{ form.healthy_subj_id }} {{ form.healthy_subj_id.description }}</pre>
            {% if form.test_product_added.errors %}
                <ul class="errors">
                    {% for error in form.test_product_added.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.randomized.errors %}
                <ul class="errors">
                    {% for error in form.randomized.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.ex_trial_id.errors %}
                <ul class="errors">
                    {% for error in form.ex_trial_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.ped_study_id.errors %}
                <ul class="errors">
                    {% for error in form.ped_study_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.ped_inv_plan_id.errors %}
                <ul class="errors">
                    {% for error in form.ped_inv_plan_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.ped_postmark_study_id.errors %}
                <ul class="errors">
                    {% for error in form.ped_postmark_study_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.rare_disease_id.errors %}
                <ul class="errors">
                    {% for error in form.rare_disease_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.healthy_subj_id.errors %}
                <ul class="errors">
                    {% for error in form.healthy_subj_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            <h3>SDTM Versions</h3>
            <fieldset class="form-field">
            <pre>{{ form.sdtm_ig_version .label }} {{ form.sdtm_ig_version  }} {{ form.sdtm_ig_version.description }}
{{ form.sdtm_version.label }} {{ form.sdtm_version }} {{ form.sdtm_version.description }}</pre>
            {% if form.sdtm_ig_version.errors %}
                <ul class="errors">
                    {% for error in form.sdtm_ig_version.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.sdtm_version.errors %}
                <ul class="errors">
                    {% for error in form.sdtm_version.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            {{ form.submit }}
      </form>
    </div>
{% endblock %}