{% extends 'base.html' %}

{% block app_content %}
    <h1 class="title">Create New Synthetic Trial</h1>
    <br>
    <h2>Choose output Parameters</h2>
    <div class="form-wrapper">
        <form action="{{ url_for('synth_trial.trial_output') }}" enctype="multipart/form-data" method="POST">
            {{ form.csrf_token }}
            <br>
            <fieldset class="form-field">
            <pre>{{ form.output_file_name.label }} {{ form.output_file_name }}    {{ form.sqlite }} {{ form.sqlite.label }}       {{ form.csv }} {{ form.csv.label }}       {{ form.sas }} {{ form.sas.label }} </pre>
            {% for error in form.sqlite.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% if form.output_file_name.errors %}
                <ul class="errors">
                    {% for error in form.output_file_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
            {% endif %}
            </fieldset>
            <br>
            {{ form.submit }}
        </form>
     </div>
{% endblock %}