<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<!--
version Tue 26 January 2021.
-->

<html lang="en">

<head>
	<title>NIHPO Synthetic People Platform - {% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Author" content="Jose.Lacal@NIHPO.com">
	
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

<!-- Start of Bootstrap4 container -->
<div class="container">

<ul class="nav nav-pills">
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/home">Home</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/condition?help">Condition</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/device?help">Device</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/drug?help">Drug</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/geography?help">Geography</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/lab_result?help">Lab Result</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/procedure?help">Procedure</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/provider?help">Provider</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/vital?help">Vital</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/synth_phr/api/v01/person?help">Person</a>
	</li>
</ul>

<H1>NIHPO Synthetic People Platform</H1>

<p>The NIHPO Synthetic People Platform generates highly-realistic yet 100% artificial:</p>

<ul>
	<li>Synthetic Clinical Trials (all CDISC domains for both ADaM and SDTM are in process)</li>
	<li>Synthetic Personal Health Records</li>
</ul>

<p>A Synthetic Person can join a Synthetic Clinical Trial. With her own Synthetic Personal Health Record.</p>

<p>These Synthetic Person, Synthetic Clinical Trial, and Synthetic Personal Health Records can significantly improve software validation. Leading to shorter time to regulatory submission.</p>

<p>The NIHPO Synthetic People Platform is available as a SaaS ("Software as a Service") offering.</p>

{% block content %}{% endblock %}


<footer>
	<p>&#169; 2007-2022 NIHPO, Inc.  All rights reserved. -  Contact us: Jose.Lacal@NIHPO.com  -  v. 01 February 2022.</p>
</footer>


<!-- end of Bootstrap4 container -->
</div>

</body>

</html>