{% extends "synth_phr/layout.html" %}

{% block title %}Provider{% endblock %}

{% block content %}

<H2>Provider Help Menu</H2>

<p>This endpoint returns full details on a Medicare-listed, US-based healthcare provider.</p>

<H1>DRAFT</H1>

<H2>Available Options</H2>

<table class="table table-bordered table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Endpoint</th>
			<th>Returns</th>
		</tr>
	</thead>
	<tr>
		<td><a href="/synth_phr/api/v01/provider?entity_type=1">/api/v01/provider?entity_type=nnn</a></td>
		<td>Returns random provider within the selected entity type.<br>Options:<br>"1" for an individual person<br>"2" for an organization</td>
	</tr>
	<tr>
		<td>&number=nnn</td>
		<td>This parameter defines the number of records to return.<br>
Anonymous (free) users can request up to 05 records at a time.<br>
Paid subscribers can request up to 100 records at a time.<br>
(Default = 1 record).</td>
	</tr>
	<tr>
		<td><a href="/synth_phr/api/v01/provider?entity_type=1&state=ca">/api/v01/provider?entity_type=nnn&state=[character]</a></td>
		<td>Returns random provider within the selected state(s) and entity type.</td>
	</tr>
	<tr>
		<td><a href="/synth_phr/api/v01/provider?entity_type=2&city=las vegas">/api/v01/provider?entity_type=nnn&city=[character]</a></td>
		<td>Returns random provider within the selected city(ies) and entity type.</td>
	</tr>
	<tr>
		<td><a href="/synth_phr/api/v01/provider?npi=1598918971">/api/v01/provider?npi=nnn</a></td>
		<td>Returns random provider within the selected npi number.</td>
	</tr>
	<tr>
		<td><a href="/synth_phr/api/v01/provider?help_states">/api/v01/provider?help_states</a></td>
		<td>Returns a list of codes for available states.</td>
	</tr>
	<tr>
		<td><a href="/synth_phr/api/v01/provider?state=ca&help_cities">/api/v01/provider?state=[character]&help_cities</a></td>
		<td>Returns a list of codes for available cities within the selected state.</td>
	</tr>
	<tr>
		<td><a href="/synth_phr/api/v01/provider?help">/api/v01/provider?help</a></td>
		<td>This help menu.</td>
	</tr>
</table>

{% endblock %}