{% extends 'base.html' %}

{% block app_content %}
    <div class="form-wrapper">
        <h1 class="title">Create New Synthetic PHR</h1>
        <br>
        <form method="POST" action="{{ url_for('synth_phr.select_countries') }}">
            {{ form.hidden_tag() }}
            <h3>Countries</h3>
            <fieldset class="form-field">
            <pre>{% for country in form.country %}
                    {{ country()}}
                {% endfor %}</pre>
                {% if form.submit.errors %}
                <ul class="errors">
                    {% for error in form.submit.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            {% if not form.country.entries|length >= form.country.max_entries and form.country.entries|length >= form.country.min_entries + 1 %}
            {{ form.remove }}
            {{ form.add }}
            {% endif %}
            {% if 2 > form.country.entries|length %}
            {{ form.add }}
            {% endif %}
            {% if form.country.entries|length >= form.country.max_entries %}
            {{ form.remove }}
            {% endif %}
            <br>
            <br>
            {{ form.submit }}
      </form>
    </div>
{% endblock %}