{% extends 'base.html' %}

{% block app_content %}
    <div class="form-wrapper">
        <h1 class="title">Create New Synthetic Person</h1>
        <br>
        <form method="POST" action="{{ url_for('synth_person.create_synthperson') }}">
            {{ form.hidden_tag() }}
            <h3>Gender Distribution</h3>
            <fieldset class="form-field">
            <pre>{{ form.female.label }} {{ form.female }}    {{ form.male.label }} {{ form.male }}</pre>
                {% if form.female.errors %}
                <ul class="errors">
                    {% for error in form.female.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if form.male.errors %}
                <ul class="errors">
                    {% for error in form.male.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <br>
            <h3>Age Range</h3>
            <fieldset class="form-field">
            <pre>{{ form.min_age.label }} {{ form.min_age }}  Years     {{ form.max_age.label }} {{ form.max_age }} Years </pre>
                {% if form.min_age.errors %}
                <ul class="errors">
                    {% for error in form.min_age.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if form.max_age.errors %}
                <ul class="errors">
                    {% for error in form.max_age.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <br>
            <h3>Output Options</h3>
            <fieldset class="form-field">
             <pre>{{ form.output_file_name.label }} {{ form.output_file_name }}    {{ form.output_type.label }} {{ form.output_type }}</pre>
                {% if form.output_file_name.errors %}
                <ul class="errors">
                    {% for error in form.output_file_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if form.output_type.errors %}
                <ul class="errors">
                    {% for error in form.output_type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <br>
            {{ form.submit }}
      </form>
    </div>
{% endblock %}